{% extends 'profile_base.html.twig' %}


{% block header %}
    <h1 class="header1">مرحبا بك {{ user.fname }}!!</h1>
{% endblock %}

{% block main %}
    <div class="container main_all">
        <div class="row">
            <div class="col-sm-3 col-xs-1"></div>

            <div class="col-sm-6 col-xs-10 item">
                <h1> هذا مايوجد في ملفك الشخصي </h1>

                {% if user.avatar != "" %}
                    <img class="img-circle" src="{{ asset('uploads/') }}{{ user.avatar }}">
                {% else %}
                    <img class="img-circle" src="{{ asset('uploads/user') }}">
                {% endif %}

                <hr>

                <div class="row">
                    <div class="col-xs-8">{{ user.username }}</div>
                    <div class="col-xs-4">اسم المستخدم: </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">{{ user.fname ~ " " ~ user.lname }}</div>
                    <div class="col-xs-4">الاسم الكامل: </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">{{ user.email }}</div>
                    <div class="col-xs-4">البريد الإلكتروني: </div>
                </div>


                <a href="{{ path('edit_profile') }}"><input type=button value="تعديل بياناتي">&nbsp;</a>
                <a href="{{ path('change_password') }}"><input type=button value="تغيير كلمة المرور">&nbsp;</a>
                <a href="{{ path('get_developer') }}"><input type="button" value="وضع المطور"></a>
            </div>

            <div class="col-sm-3 col-xs-1"></div>
        </div>



        <div class="row">

            <div class="col-xs-1"></div>


            <div class="col-xs-10 item">
                <h1> نسبة أنواع الأخبار المفضلة
                <br> اضغط على البيان لتعديل هذه النسب
                </h1>

                <canvas id="myChart" width="auto" height="auto"></canvas>

            </div>


            <div class="col-xs-1"></div>

        </div>

        <div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-left" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <!---->يمكنك اﻵن تخصيص نسبة ظهور الآخبار لديك في أخبارك المفضلة!!
                    </h4>
                </div>
                <form method="post" action="{{ path('user_change_chart') }}">
                    <div class="modal-body">
                        <!-->يتم تشكيل نسب ظهور الأخبار المفضلة بالاعتماد على زياراتك للأخبار في الموقع
                        <br>وهنا نتيح لك إمكانية تعديل عدد الزيارات بالشكل الذي يجعل النسب تناسب احتياجاتك أكثر!!

                        <br><br>

                        <div class="row">
                            <div class="col-sm-10">
                                <input name="pol" type="text" id="pol" value="{{ user.log[1] }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="pol">سياسة</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <input name="eco" type="text" id="eco" value="{{ user.log[2] }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="eco">اقتصاد</label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-10">
                                <input name="sp" type="text" id="sp" value="{{ user.log[3] }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="sp">رياضة</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10">
                                <input name="tech" type="text" id="tech" value="{{ user.log[4] }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="tech">تكنولوجيا</label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-10">
                                <input name="art" type="text" id="art" value="{{ user.log[5] }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="art">فنون</label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-10">
                                <input name="sc" type="text" id="sc" value="{{ user.log[6] }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="sc">علوم</label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-10">
                                <input name="fas" type="text" id="fas" value="{{ user.log[7] }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="fas">موضة</label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-10">
                                <input name="misc" type="text" id="misc" value="{{ user.log[8] }}">
                            </div>
                            <div class="col-sm-2">
                                <label for="misc">منوع</label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">تثبيت التعديلات</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}


{% block stylesheets %}
    <style>
        .close{
            color: white!important;
        }
        .modal-content{
            background-color: #C9C9C9;
            color: #000;
            direction: rtl!important;
        }
        .modal-header{
            background-color: #C00;
            color: #FFF;
        }

        .header1{
            text-align: center;
            color:#333;
            direction: rtl;
        }
        .item{
            font-size: 18px;
            font-weight: bold;
            direction: rtl;
            background-color: #e1e1e1;
            margin-top: 20px;
            margin-bottom: 20px;
            box-shadow: 5px 5px 4px 5px #888888;
            min-height: 600px!important;
            padding-bottom: 20px;
        }

        .row{
            margin-bottom: 20px!important;
        }
        .img-circle{

            box-shadow: 5px 5px 4px 5px #888;
            margin: 25px auto!important;
            float: none;
            width: 200px;
            height: 200px;
            display: block;
        }

        p, .item a button{
            direction: rtl;
            font-size: 20px;
            font-weight: bold;
            padding-top: 20px;
        }
        .item a button{
            padding-top: 0;
            margin-top: 20px;
            float: right;
            color:#333;
            font-weight: normal;
        }

        .item h1{
            background: #C00;
            padding: 20px 0;
            font-size: 140%;
            font-weight: 300;
            text-align: center;
            color: #fff;
            margin: -16px -16px 16px -16px;
            direction: rtl;
        }

        input[type="submit"],
        input[type="button"]{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            padding: 3%;
            background: #C00;
            border-bottom: 2px solid #C00;
            border-top-style: none;
            border-right-style: none;
            border-left-style: none;
            color: #fff;
        }
        input[type="submit"]:hover,
        input[type="button"]:hover {
            background: #C00;
        }

    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Assets/js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('Assets/js/bootstrap.min.js') }}"></script>
    <script>

        $("#myChart").on('click',function(evt) {
            $('#my-modal').modal('show');
        });

    {% set sum = 0 %}
    {% for i in 1..8 %}
        {% set sum = sum + user.log[i] %}
    {% endfor %}
    {% if sum <= 0 %}
        {% set sum = 1 %}
    {% endif %}
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["سياسة", "اقتصاد", "رياضة", "تكنولوجيا", "فنون", "علوم" , "موضة" , "منوع"],
                datasets: [{
                    label: 'عدد الأخبار من هذا النوع',
                    data: [{{ (user.log[1] / sum * 100)|round(2) }}, {{ (user.log[2] / sum * 100)|round(2) }},
                            {{ (user.log[3] / sum * 100)|round(2) }}, {{ (user.log[4] / sum * 100)|round(2) }},
                            {{ (user.log[5] / sum * 100)|round(2) }}, {{ (user.log[6] / sum * 100)|round(2) }},
                            {{ (user.log[7] / sum * 100)|round(2) }}, {{ (user.log[8] / sum * 100)|round(2) }}
                            ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(155, 209, 64, 0.2)',
                        'rgba(52, 9, 164, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(155, 209, 64, 1)',
                        'rgba(52, 9, 164, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}