{% extends '@Admin/base.html.twig' %}

{% block nActive %} active {% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">أخبارنا</h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-newspaper-o"></i> الأخبار
                        </li>
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="{{ path('admin_default_index') }}">لوحة التحكم</a>
                        </li>

                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="alert alert-info">  هل تريد كتابة خبر جديد؟؟ <a style="color:black" href="{{ path('admin_news_add') }}">اضغط هنا</a> </div>

            <div class="row">
                <div class="col-lg-12">
                    <h2>قائمة بالأخبار الحالية ضمن الموقع</h2>
                    <div class="table-responsive" style="direction: rtl;">
                        <table id="myTable" class="table table-bordered table-hover table-striped">
                            <thead>
                            <tr>
                                <th onclick="sortTable(0)">عنوان الخبر</th>
                                <th onclick="sortTable(1)">التاريخ</th>
                                <th onclick="sortTable(2)">نوع الخبر</th>
                                <th onclick="sortTable(3)">الموقع</th>
                                <th onclick="sortTable(4)">عدد التعليقات</th>
                                <th onclick="sortTable(5)">عدد الوسوم</th>
                                <th>العمليات</th>
                            </tr>
                            </thead>
                            <tbody id="tbody">
                                {% for post in news %}
                                    <tr class="">
                                        <td> {{ post.title }} </td>
                                        <td> {{ post.date|date('Y-m-d H:i:s') }} </td>
                                        {% if post.type|length %}
                                            <td> {{ post.type[0].name }} </td>
                                        {% else %}
                                            <td> لا نوع محدد </td>
                                        {% endif %}
                                        <td> {{ post.location }} </td>
                                        <td> {{ post.comments|length }} </td>
                                        <td> {{ post.tag|length }} </td>
                                        <td>
                                            <a href="{{ path('admin_news_update',{'id':post.id}) }}"><button class="btn btn-danger"> تعديل </button> </a>
                                            <a href="{{ path('admin_news_delete',{'id':post.id}) }}"><button class="btn btn-danger"> حذف </button> </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <button style="margin: 0 auto;" class="ajaxy btn btn-info">المزيد من الأخبار؟</button>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        td a{
            display: block!important;
            margin-top: 5px;
        }
        td a:hover{
            color:white;
            text-decoration: none;
        }
        th:hover{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.getElementsByTagName("TR");
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir === "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir === "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount ++;
                } else {
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }



        function timeConverter(UNIX_timestamp){
            var a = new Date(UNIX_timestamp * 1000);
            var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            var year = a.getFullYear();
            var month = a.getMonth(); if (month < 10) month = "0" + month;
            var date = a.getDate(); if (date < 10) date = "0" + date;
            var hour = a.getHours(); if (hour < 10) hour = "0" + hour;
            var min = a.getMinutes(); if (min < 10) min = "0" + min;
            var sec = a.getSeconds(); if (sec < 10) sec = "0" + sec;
            var time = year + '-' + month + '-' + date + ' ' + hour + ':' + min + ':' + sec ;
            return time;
        }



        $(document).on('click', 'button.ajaxy', function(){
            that = $(this);
            $.ajax({
                url:'{{ (path('admin_news_more',{'num':(news|length) + 10})) }}',
                type: "POST",
                dataType: "json",
                data: {},
                async: true,
                success: function (data)
                {
                    data = $.parseJSON(data.data);
                    console.log({{ news|length }});
                    console.log(data.length);
                    for (var i ={{ news|length }};i < data.length; i++) {
                        var tp = "لا نوع محدد";
                        if (data[i]["type"][0] !== undefined){
                            tp = data[i]["type"][0]["name"];
                        }
                        var dt = data[i]["date"];
                        dt = timeConverter(dt["timestamp"]);
                        var line = "<tr><td>" + data[i]["title"] + "</td>";
                        line += "<td>" + dt + "</td>";
                        line += "<td>" + tp + "</td>";
                        line += "<td>" + data[i]["location"] + "</td>";
                        line += "<td>" + data[i]["comments"].length + "</td>";
                        line += "<td>" + data[i]["tag"].length + "</td>";
                        line += "<td><a href='/admin/news/update/"  + data[i]["id"] + " '><button class='btn btn-danger'> تعديل </button> </a><a href='/admin/news/delete/"  + data[i]["id"] + " '><button class='btn btn-danger'> حذف </button> </a></td></tr>";

                            jQuery("#tbody").append(line);
                    }
                }
            });
            return false;

        });

    </script>
{% endblock %}