{% extends 'base.html.twig' %}

{% block title %}
    RNN - {{ post.title }}
{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8 col-md-12" style="float: right">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ post.title }}</h1>

                <!-- Author
                <p class="lead">
                    by <a href="#">Start Bootstrap</a>
                </p> -->

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> خبر بتاريخ {{ post.date|date('Y-m-d') }} الساعة {{ post.date|date('H:i') }}</p>

                <hr>

                <!-- Preview Image -->
                {% if post.mainImage is null or post.mainImage == '' %}
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                {% else %}
                    <img class="img-responsive" src="{{ asset('uploads/') }}{{ post.mainImage }}" alt="">
                {% endif %}
                <hr>

                <!-- Post Content -->
                <!--p class="lead">Lorem minus inventore?</p-->
                <p style="font-size: 18px">{{ post.post|nl2br }}</p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>تفاعل مع الخبر من خلال كتابة تعليق:</h4>
                    {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_widget(form.body,{'attr':{'class':'form-control'} }) }}
                            </div>
                            <button type="submit" class="btn btn-primary">إرسال</button>
                    {{ form_end(form) }}

                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                {% for comment in post.comments %}
                    <div class="media">
                        <div class="media-body">
                            {% if is_granted('ROLE_USER')%}
                                {% if app.user == comment.writer[0] %}
                                    <a href="{{ path('delete_comment',{"post":post.id,"comment":comment.id}) }}">
                                        <button class="pull-left btn btn-danger">X</button>
                                    </a>
                                {% endif %}
                            {% endif %}

                            <h4 class="media-heading">

                                {% if comment.writer[0] is null%}
                                    <!---->زائر للموقع
                                {% else %}
                                    {% set name = comment.writer[0].fname ~ " " ~ comment.writer[0].lname %}
                                    {% if name == " " %}
                                        {% set name = comment.writer[0].username %}
                                    {% endif %}
                                    {{ name }}
                                {% endif %}

                                <small>بتاريخ {{ comment.date|date('Y-m-d') }} الساعة {{ comment.date|date('H:i') }}</small>
                            </h4>

                            <p style="font-size: 15px; font-weight: bold">{{ comment.body }}</p>
                        </div>
                    </div>

                {% endfor %}

                <hr>
            </div>


            <div class="col-lg-0 col-md-3"></div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-lg-4 col-md-9" style="float: left">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>أخبار متعلقة: </h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                {% for post in related %}
                                    <li><a href="{{ path('post',{'id':post.id}) }}"> {{ post.title }} </a></li>
                                    <hr>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>وسوم الخبر: </h4>
                    <div class="row">
                        <div class="col-lg-0 col-md-3"></div>
                        <div class="col-lg-12 col-md-9">
                            <ul class="list-unstyled">
                                {% if post.tag|length == 0 %}
                                    <li class="alert alert-info"> هذا الخبر غير مربوط بأي وسم!! </li>
                                {% else %}
                                    {% for tag in post.tag %}
                                        <li><a href="{{ path('news_tag',{'id':tag.id}) }}"> {{ tag.name }} </a></li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

            </div>

            <div style="clear: both"></div>

        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    <style>
        .content *{
            direction: rtl;
        }
        .btn-danger{
            background-color: #C00!important;
            height: 35px!important;
            width: 35px!important;
        }
    </style>
{% endblock %}
